body {
    color: #808080;
}

h1{
    font-size: 65px;
  position: absolute;
  top: 150px;
  left: 38%;
  color: white;
  font-weight: 300;
}

.main {
width: 100%;
height: 500px;
margin: auto;
}

.title{
    color: white;
    text-
}

.first {
    text-align: left;
    text-justify:auto;

}
.prepandcook {
    margin-top: 20px;
    margin-bottom: 20px;

}